code/COSA_Data/buildings_info_test.csv
code/COSA_Data/CEA_Disaggregated_SolarPV_3Dec.pickle
code/COSA_Data/CEA_Disaggregated_TOTAL_FINAL_06MAR.pickle
code/COSA_Data/distances_data.csv
code/COSA_Data/hour_price.csv
code/COSA_Outputs/
code/0_old/lsf.o126854143
code/0_old/lsf.o126854738
code/0_old/lsf.o126905124
code/0_old/lsf.o126918658
code/0_old/lsf.o127211524
code/0_old/lsf.o127211920
code/0_old/lsf.o127217951
code/0_old/model_inputs_cal.json
code/COSA_Data/0_raw_data/10070-KEV-Bezüger_2019_Publikation.xlsx
code/COSA_Data/0_raw_data/Données brutes des tarifs 2019 (état au 06.06.2019).xlsx
code/COSA_Data/0_raw_data/donnees_brutes_destarifs2009etatau02022011.xls
code/COSA_Data/0_raw_data/donnees_brutes_destarifs2010nouveauformatetatau09112010.xls
code/COSA_Data/0_raw_data/donnees_brutes_destarifs2011etatau09112010.xls
code/COSA_Data/0_raw_data/donnees_brutes_destarifs2012etatau722012.xls
code/COSA_Data/0_raw_data/ewz_Stromtarif_ZH_Private_2019 (1).pdf
code/COSA_Data/0_raw_data/ewz_Stromtarif_ZH_Private_2020 (2).pdf
code/COSA_Data/0_raw_data/Rohdaten Tarife 2014 (Stand 17.12.2018).xlsx
code/COSA_Data/0_raw_data/Rohdaten Tarife 2018 (Stand 18.10.2018).xlsx
code/COSA_Data/0_raw_data/Rohdaten Tarife 2020 - Stand 06.01..xlsx
code/COSA_Data/0_raw_data/Rohdaten_Tarife_2017 (Stand 01.02.2017) (1).xlsx
code/COSA_Data/0_raw_data/snb-data-zikredvol-en-selection-20200622_0900.xlsx
code/COSA_Data/0_raw_data/su-d-05.02.91.xlsx
code/COSA_Data/0_raw_data/
