code/COSA_Data/buildings_info_test.csv
code/COSA_Data/CEA_Disaggregated_SolarPV_3Dec.pickle
code/COSA_Data/CEA_Disaggregated_TOTAL_FINAL_06MAR.pickle
code/COSA_Data/distances_data.csv
code/COSA_Data/hour_price.csv
